
.container-dangnhap {
    width: 400px;
    margin: 50px auto;
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
}

.center{
    text-align: center !important;
}
.right{
    text-align: right !important;
}
.left{
    text-align: left !important;
}