<div class="container-dangnhap">
    <!-- dang nhap -->
    <h3 class="center">Đăng nhập</h3>
    <div class="sign-in left">      
        <form #f="ngForm" (ngSubmit)="onSubmit(f.value)">
            <div class="form-group">
                <label>Tên đăng nhập</label><br>
                <input  type="text" name="username" id="username" ngModel class="form-control" autofocus >
            </div>
            <div class="form-group">
                <label>Mật khẩu</label><br>
                <input type="password" name="password" id="password" ngModel class="form-control">
            </div>
            <div class="right">
                <button type="submit" class="btn btn-primary">Xác nhận</button>
            </div>
        </form>
    </div>
</div>